@media print{
@page{size:Letter;margin:0}*{-webkit-print-color-adjust:exact!important;print-color-adjust:exact!important}body{background:#fff}.doc-nav{display:none!important}.sheet-stack{display:block;padding:0}.sheet{width:8.5in;height:11in;min-height:11in;margin:0;box-shadow:none;page-break-after:always}.sheet:last-child{page-break-after:auto}.page-foot{position:absolute}.cap-grid{grid-template-columns:repeat(2,1fr)}
}
